@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.bar-container{
  max-width: 15vw;
  margin-top: 20px;
  margin-left: 15px;
  border: 1px black solid;
  padding: 10px;
}

.spend-btn{
  background-color: rgba(128, 128, 128, 0.291);
}